<div class="form-container">

  <h2>Edit Project</h2>

  @if(loading()) {
    <p>Loading...</p>
  } @else {

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label>Project Name</label>
        <input type="text" formControlName="name">
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea formControlName="description"></textarea>
      </div>

      <div class="button-group">
        <button 
            type="submit" 
            class="save-btn"
            [disabled]="form.invalid || loading()">

            @if(loading()) {
                Saving...
            } @else {
                Update
            }

            </button>

        <button type="button" routerLink="/" class="cancel-btn">
          Cancel
        </button>
      </div>

    </form>

  }

</div>